<h1 class="admin-dashboard">Admin Dashboard</h1>

<div class="admin-stats">
  <h3>Total number of products: <span><%= @total_products %></span></h3>
  
    
  <h3>Total number of categories: <span><%= @total_products %></span></h3>
  
</div>