// newly added styles

h1.admin-dashboard {
  color: rgb(82, 146, 189);
}

.admin-stats {
  margin-top: 50px;
}

.admin-stats h3 span {
  color: rgb(101, 182, 101);
  padding-left: 7px;
}

.order-summary h4.thank-you {
  font-size: 30px;
  color: rgb(101, 182, 101);
}

.order-summary h4.summary {
  font-size: 23px;
  margin-top: 40px;
  margin-bottom: 40px;
  opacity: 0.65;
}

.order-summary h4.email {
  font-size: 18px;
  font-weight: 500;
  margin-left: 8px;
}


// other styles 

main section.products-index,
main section.categories-show {

  .products {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: space-around;

    .product {
      // flex:      1;
      max-width: 260px;
      // so that footer within can be positioned absolutely
      position:  relative;

      border:        1px solid #ccc;
      border-radius: 5px;
      padding:       15px;
      padding-bottom: 80px;
      margin-top:    20px;
      // margin:        10px;

      header img {
        max-width: 100%;
        max-height: 140px;
        margin: auto;
        display: block;
      }

      footer {
        position: absolute;
        bottom: 0;
        left:   0;
        background-color: #EEE;
        padding: 15px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100%;
        opacity: 0.3;
        transition: all 0.3s;
      }

      aside.price {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background-color: #eee;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 20px;
        font-size: 0.8em;
      }

      aside.sold-out {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        background-color: rgb(224, 147, 147);
        border-top-left-radius: 4px;
        border-bottom-right-radius: 20px;
        font-size: 0.8em;
        color: white;
      }

   

      &:hover {

        border-color: #999;

        footer {
          opacity: 1.0;
        }
      }

    }
  }
}

main section.products-show {

  .product-detail {
    img.main-img {
      max-width: 100%;
    }
  }
}


